{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Court Record</title>
</head>
<body>

<nav style="display:flex;gap:30px;align-items:center">
    <img style="height:20px" src="{% static 'images/aceattorney-logo.png' %}">
    <span>Hello, {{ request.user }}</span>
    <span><a href="{% url 'logout' %}">Logout</a></span>
</nav>

<br>

<a href="{% url 'home'%}">See current information</a>

<br>

<h1> Add new evidence </h1>

<form action="{% url 'create_evidence' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <p>Name: </p>
    <textarea cols="50" placeholder="Name..." name="title"
              id="id_title"required=""></textarea>

    <p>Description: </p>
    <textarea rows="4" cols="50" placeholder="Describe the source of information..."
              name="description" id="id_description"required=""></textarea>

    <p>Category: </p>
    <textarea cols="50" placeholder="Category..." name="category" id="id_category"></textarea>

    <br></br>

    {{ form.icon }}

    <br></br>

    <button type="submit">Submit evidence</button>
</form>


</body>
</html>