{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>

<h1>Update member</h1>

<form action="updaterecord/{{ tochange.id }}" method="post">
    {% csrf_token %}
    Name<br>
    <input name="title" value="{{ tochange.title }}">
    <br><br>
    Description<br>
    <input name="description" value="{{ tochange.description }}">
    <br><br>
    <input name="category" value="{{ tochange.category }}">
    <br>
    {# <input name="icon" value="{{ tochange.icon }}"> #}
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>